@font-face {
  font-family: 'Cabin';
  src: url("../assets/fonts/Cabin-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Gameplay";
  src: url("../assets/fonts/Gameplay.ttf") format("truetype"); }

@font-face {
  font-family: 'Cabin';
  src: url("../assets/fonts/Cabin-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Gameplay";
  src: url("../assets/fonts/Gameplay.ttf") format("truetype"); }

html, body {
  font-family: Cabin, sans-serif;
  background: #4b4541;
  margin: 0; }

body {
  color: #fffaf1; }

@font-face {
  font-family: 'Cabin';
  src: url("../assets/fonts/Cabin-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Gameplay";
  src: url("../assets/fonts/Gameplay.ttf") format("truetype"); }

header {
  background: #fffaf1;
  color: #4b4541;
  padding: 2em 0;
  position: relative; }
  header:after {
    content: '';
    clear: both;
    display: block; }
  header .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto; }
    header .container .logo {
      float: left;
      font-size: 1rem;
      margin: 0;
      padding-left: 30px;
      text-transform: uppercase;
      font-weight: 700; }
    header .container .nav-bar {
      position: absolute;
      top: 100%;
      right: 0;
      background: #20303C;
      -webkit-clip-path: circle(0px at top right);
      clip-path: circle(0px at top right);
      transition: -webkit-clip-path ease-in-out 300ms;
      transition: clip-path ease-in-out 300ms;
      transition: clip-path ease-in-out 300ms, -webkit-clip-path ease-in-out 300ms; }
      header .container .nav-bar ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      header .container .nav-bar li {
        border-bottom: 1px solid #fffaf1; }
      header .container .nav-bar li:last-child {
        border-bottom: none; }
      header .container .nav-bar a {
        color: #fffaf1;
        display: block;
        padding: 2em 7em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center; }
        header .container .nav-bar a:hover, header .container .nav-bar a:focus {
          background: #0e151b; }
    header .container .nav-bar--open {
      -webkit-clip-path: circle(150%);
      clip-path: circle(150%); }
    header .container .menu-toggle {
      padding: 1.5em;
      position: absolute;
      top: 1em;
      right: 1em;
      cursor: pointer; }
    header .container .hamburger,
    header .container .hamburger::before,
    header .container .hamburger::after {
      content: '';
      display: block;
      background: #4b4541;
      height: 3px;
      width: 1.75em;
      border-radius: 5px;
      transition: all ease-in-out 500ms; }
    header .container .hamburger::before {
      transform: translateY(-7px); }
    header .container .hamburger::after {
      transform: translateY(4px); }
    header .container .ham-open .hamburger {
      transform: rotate(45deg); }
      header .container .ham-open .hamburger:before {
        opacity: 0; }
      header .container .ham-open .hamburger:after {
        transform: translateY(-3px) rotate(-90deg); }

@media (min-width: 700px) {
  .menu-toggle {
    display: none; }
  header .container .nav-bar {
    height: auto;
    background: transparent;
    position: relative;
    float: right;
    -webkit-clip-path: initial;
    clip-path: initial; }
    header .container .nav-bar li {
      display: inline-block;
      border: none; }
    header .container .nav-bar a {
      color: #4b4541;
      padding: 0;
      margin-left: 30px; }
      header .container .nav-bar a:hover, header .container .nav-bar a:focus {
        background: none; } }

.fixed-mountains {
  position: fixed;
  bottom: -80px;
  right: 1px; }
