.dev-panel {
    margin-top: -400px;
    position: relative;
    width: 30%;

    .slide-tab-lead {
        position: fixed;
        font-size: 1.2em;
        width: 200px;
        height: 45px;
        left: -120px;

        a {
            display: block;
            line-height: 45px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: right;
            text-decoration: none;
            padding-right: 5px;
            background-color: $wg-white;
            color: $wg-brown;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;

            &:hover {
                background-position: 0 -45px;

            }
        }
    }

    .slide-tab-back {
        position: fixed;
        font-size: 1.2em;
        width: 180px;
        height: 45px;
        left: -190px;

        a {
            display: block;
            line-height: 45px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
            text-decoration: none;
            padding-right: 10px;
            background-color: $wg-white;
            color: $wg-brown;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }

    .first {
        margin-top: 50px;
    }

    .second {
        margin-top: 100px;
    }

    .third {
        margin-top: 150px;
    }

}


@media(max-width: 999px){
    .dev-panel {
        display: none;

    }
}