.fixed-mountains{
    position: fixed;
    bottom: -80px;
    right: 1px;
}

.full-fixed-mountains {
    position: fixed;
    bottom: -80px;
    right: 1px;
    width: 100%;
}

@media(max-width: 1366px){
    .full-fixed-mountains {
        width: initial;
    }
}

@media(max-width: 401px){
    .full-fixed-mountains {
        display: none;
    }
}

@media(min-width: 400px){
    .fixed-mountains {
        display: none;
    }
}