// Colors

$wg-bg: #4b4541;
$wg-white: #fffaf1;

// Fonts
@font-face {
   font-family: 'Cabin'; 
   src: url('../assets/fonts/Cabin-Regular.otf') format("opentype");
} 

@font-face {
    font-family: "Gameplay";
    src: url('../assets/fonts/Gameplay.ttf') format("truetype");
}

$font-cabin: Cabin;
$font-gameplay: Gameplay;


